{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-md-6 offset-md-3">
    <div class="card mt-5 shadow-sm">
        <div class="card-body">
            <h3 class="card-title text-center">{{ page_title }}</h3>
            <p class="text-center">Sei sicuro di voler eliminare "<strong>
                {{ object_name }}
            </strong>"?</p>
            <p class="text-center text-danger"><strong><i class="fas fa-exclamation-triangle me-2"></i>Questa azione è irreversibile.</strong></p>
            
            <form method="post">
                {% csrf_token %}
                <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
                    <button type="submit" class="btn btn-danger btn-lg">
                        <i class="fas fa-trash me-2"></i>Sì, elimina
                    </button>
                    <a href="{{ cancel_url }}" class="btn btn-secondary btn-lg">
                        <i class="fas fa-times me-2"></i>Annulla
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}